:root {
  --primary: #1d1d1d;
  --second: #5ef3d8;
  --tercer: #f44654;
}

@font-face {
  font-family: font-file-82132;
  src: url("../fonts/CoolveticaRg-Regular.woff") format("wooff2"),
    url("../fonts/CoolveticaRg-Regular.woff") format("woff");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

/*************** Menu **********************/
header {
  background: var(--primary);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo a {
  color: var(--tercer);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  background: transparent;
  transition: background 0.5s;
  padding: 20px;
}

.menu a:hover {
  background: var(--tercer);
}

a {
  text-decoration: none;
}

.menu-option {
  font-size: 22px;
  color: #fff;
}

.menu-btn {
  outline: thin solid var(--second);
  border: 0;
  background-color: var(--primary);
  display: none;
}

.menu-btn svg {
  fill: var(--second);
}

.none {
  display: none;
}

.menu.is-active {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    opacity: 0;
    flex-direction: column;
    text-align: center;
    top: 4rem;
    width: 100%;
    background: var(--primary);
  }

  .menu-btn {
    display: inline;
    margin-right: 20px;
  }

  a:hover {
    background: var(--tercer);
  }

  .menu a {
    padding: 20px;
  }
}

/*************** section presentation **********************/

.presentation {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "title img" "title img";
  scroll-margin-block-start: 4rem;
}

h1 {
  font-family: font-file-82132;
  color: #fff;
  font-weight: 400;
  line-height: 53px;
  font-size: 50px;
  letter-spacing: 2px;
  margin: auto;
  grid-area: title;
}

.firstLetter {
  font-size: 50px;
  color: var(--tercer);
  text-shadow: 2px 2px var(--second);
}

.profile {
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  margin: auto;
  grid-area: img;
}

img {
  object-fit: cover;
  width: 100%;
}

h2 {
  text-align: center;
  color: var(--second);
  font-size: 32px;
}

h3 {
  color: var(--tercer);
}

@media screen and (max-width: 768px) {
  .presentation {
    grid-template-areas: "img img" "title title";
  }
}

/****************** section skills ****************/
.skills {
  scroll-margin-block-start: 4rem;
}

.list-skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
}

.icon-skill {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

/****************** section portfolio *************/
.portfolio {
  scroll-margin-block-start: 4rem;
  color: #fff;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
}

.card {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "image info" "image info";
  margin-bottom: 2rem;
}

.img-portfolio {
  margin: auto;
  grid-area: image;
}

.card-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.card-buttons {
  margin-top: 20px;
}

.card-buttons a {
  background: transparent;
  border: 2px solid var(--second);
  color: var(--second);
  border-radius: 23px;
  padding: 5px 10px;
  margin-right: 10px;
}

.card-buttons a:hover {
  background: var(--tercer);
  border-color: var(--tercer);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-areas: "image image" "info info";
  }
  .card-info {
    padding: 0;
  }
}

/*********** section footer ************/

.list-contact {
  display: flex;
  justify-content: center;
  text-align: center;
}

.list-contact div {
  margin: 15px;
  color: #fff;
}

.icon-contact {
  width: 50px;
}
