:root {
  --primary: #1d1d1d;
  --second: #5ef3d8;
  --tercer: #f44654;
}

@font-face {
  font-family: font-file-82132;
  src: url("../fonts/CoolveticaRg-Regular.woff") format("wooff2"),
    url("../fonts/CoolveticaRg-Regular.woff") format("woff");
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

header {
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding: 20px;
}

a {
  text-decoration: none;
}

.menu-option {
  font-size: 22px;
  margin: 0 10px;
  color: #fff;
}

.presentation {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: -5rem;
}

h1 {
  font-family: font-file-82132;
  color: #fff;
  font-weight: 400;
  line-height: 53px;
  font-size: 40px;
  letter-spacing: normal;
}

.blast {
  font-size: inherit;
  display: inline-block;
  margin: -3px;
  transition: all 0.3s ease-out;
}

.blast:hover {
  color: var(--second);
  animation: rubberBand 0.5s;
}

.spaceLetter {
  margin-left: 15px;
}

.firstLetter {
  font-size: 70px;
  color: var(--tercer);
  text-shadow: 2px 2px var(--second);
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.profile {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 100%;
}

h2 {
  text-align: center;
  color: var(--second);
  font-size: 32px;
}

/****************** section portfolio *************/
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}

.card {
  width: 500px;
}

.card:first-child {
  margin-right: 2rem;
}

.card-image {
  position: relative;
}

.card-buttons {
  position: absolute;
  top: 50%;
  left: 35%;
}

.card-buttons a {
  background: transparent;
  border: 2px solid var(--second);
  color: var(--second);
  border-radius: 23px;
  padding: 0px 10px;
}

.card-buttons a:hover {
  background: var(--second);
  color: #fff;
}

h3 {
  color: var(--tercer);
}
